{% extends 'base.html' %}
{% block content %}
  <div class="signup-card container" style="max-width: 650px;">
    <h3>Login</h3>
    <div class="signup-content">
      <form method="POST">
        {% csrf_token %}
          <div class="form-group">
              <label for="email">Email</label>
              <input class="form-control" name="email" type="email" required>
              <label for="password">Password</label>
              <input class="form-control" name="password" type="password" required>
          </div>
        <button class='btn btn-primary' type="submit">Login</button>
      </form>
      <p style="margin-top: 10px;">Not a User? <a href="{% url 'signup' %}" class="">Register here.</a></p>
      <div class="errorlist">
            <div class="text-danger">
                <p class="text-danger">{{ error }}</p>
            </div>
      </div>
    </div>
  </div>
{% endblock %}