{% extends 'base.html' %}
{% block content %}
  <div class="signup-card container" style="max-width:650px;">
    <h3>REGISTER</h3>
    <div class="signup-content">
      <form method="POST" id="signupForm" data-subjects-url="{% url 'ajax_load_subjects' %}">
        {% csrf_token %}
          <div class="form-group">
            <label for="id_email">Name</label>
            {{ form.name }}
          </div>
          <div class="form-group">
            <label for="id_name">Email</label>
            {{ form.email }}
          </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="id_password1">Password</label>
            {{ form.password1 }}
          </div>
          <div class="form-group col-md-6">
            <label for="id_password2">Confirm Password</label>
            {{ form.password2 }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="id_class_no">Standard</label>
            {{ form.class_no }}
          </div>
          <div class="form-group col-md-6">
            <label for="id_subject">Subject</label>
            {{ form.subject }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="id_mobile_no">Mobile Number</label>
            {{ form.mobile_no }}
          </div>
          <div class="form-group col-md-6">
            <label for="id_location">Location</label>
          {{ form.location }}
          </div>
          
        </div>
        <button class='btn btn-primary' type="submit">Register</button>
      </form>
      <p style="margin-top: 10px;">Already a User? <a href="{% url 'login' %}" class="">Login here.</a></p>
      <div class="errorlist">
        {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}
            <div class="text-danger">
                <p class="text-danger">{{ error }}</p>
            </div>
              {% endfor %}
            {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
  <script>
    $("#id_class_no").change(function () {
      var url = $("#signupForm").attr("data-subjects-url");  // get the url of the `load_subjects` view
      var class_id = $(this).val();  // get the selected class ID from the HTML input
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/ajax/load-subjects/)
        data: {
          'class_no': class_id       // add the class id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_subjects` view function
          $("#id_subject").html(data);  // replace the contents of the subject input with the data that came from the server
        }
      });

    });
  </script>
{% endblock %}