{% load static %}
{{ form.media }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    <link rel='stylesheet' href="{% static 'css/bootstrap.css' %}" />
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {{ form.media }}
    <link rel='stylesheet' href="{% static 'css/styles.css' %}" />
    <title>Pocket Test</title>
</head>
<body>
    <nav class="navbar collapse.navbar-collapse bg-dark">
        {% if user.is_authenticated %}
                <h1 class="logo text-white"><a class="nav-link" href="{% url 'quizList' %}">Pocket Test</a></h1>
        {% else %}
            <h1 class="logo text-white"><a class="nav-link" href="{% url 'login' %}">Pocket Test</a></h1>
              {% endif %}
        <div class="">
            {% if user.is_authenticated %}
                <p class="pt-3 text-white"><a href="{% url 'userUpdate' user.pk %}"><strong>{{ user.name }}</strong> </a>| <a href="{% url 'logout' %}" class="text-white">Log out</a>.</p>
              {% endif %}
        </div>
    </nav>
    <div class="container">
        {%  block content %}
        {% endblock %}
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"></script>
    </body>
</html>